body{
    background-color: blanchedalmond;
}
p, h1{
    color: rgb(23, 3, 70);
}
h1{
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
}
.textbackground{
    background-color: darkgrey;
    color: darkolivegreen;
    text-align: center;
}
.tankar{
    text-align: right;
}
a{
    text-decoration: none;
}
.jag{
    border-style: solid;
}
.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 100px auto 25%;
}
.wrapper{
    
}